@font-face {
    font-family: 'Droid Serif Regular';
    src: url('../fonts/DroidSerif.eot');
    src: url('../fonts/DroidSerif.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DroidSerif.woff') format('woff'),
    url('../fonts/DroidSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}